#app{
    background-color:rgb(138, 100, 219);

}
body{
    text-align:center;
   
}

#games{
    background-color: lightcoral;
}

.line{
    height:8px;
    background-color: black;
    width:70px;
    margin:8px auto;
}
h1{
    font-size:50px;
    font-family: Agbalumo;
    color:blue;
}